[*.cs]

# CS8618: Il campo non nullable deve contenere un valore non Null all'uscita dal costruttore. Prendere in considerazione l'aggiunta del modificatore 'required' o la dichiarazione come nullable.
dotnet_diagnostic.CS8618.severity = none
